<center>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/xavier84/RatXaBox" data-icon="octicon-star" data-show-count="true" aria-label="RatXaBox ruTorrent avec rTorrent. Version Workflow">Star</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/xavier84/RatXaBox/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="RatXaBox ruTorrent avec rTorrent. Version Workflow">Fork</a>

    <p>RatXaBox <a href="https://mondedie.fr/d/8708-Script-RatXaBox-ruTorrent-avec-rTorrent-Version-Workflow"><i class="fa fa-heart"></i></p>
</center>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
